.editor-side-container {
  position: fixed;
  top: 144px;
  z-index: 3;
  height: calc(100vh - 128px - 16px * 2) !important;
}

.tab-container {
  width: 216px;
}

.ques-type-tab-card {

  margin-bottom: 16px;

  .ques-tab-title {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: #333;
  }

  .type-tags-container {
    .type-tags {
      &:nth-of-type(odd) {
        margin-right: 8px;
      }
    }
  }
}

.type-tags {
  width: 104px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;

  .type-tags-text {
    margin-left: 5px;
  }

  &:not(.disabled):hover {
    color: #0F6BFF;
    background-color: #F5F9FF;
  }

  :global {
    .arco-icon {
      font-size: 16px;
      transform: translateY(1px);
    }
  }
}

.disabled.type-tags {
  cursor: not-allowed;
  background: rgb(247, 248, 250);
  color: rgb(201, 205, 212);
}

.outline-tab {
  padding: 12px 0;

  .page-item {
    margin-bottom: 24px;
  }

  .outline-item {
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    &:hover {
      background: #f0f6ff;
      color: #0f6bff;
      cursor: default;
    }
    .item-icon {
      margin-right: 8px;
      font-size: 16px;
    }
    .ques-title-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      flex-grow: 1;
      overflow: hidden;
      line-height: 24px
    }
  }
}