.side-nav {
  display: flex;
  position: fixed;
  top: 144px;
  z-index: 3;
  box-shadow: 0 4px 16px rgb(0 0 0 / 8%), inset -1px 0px 0px #e5e5e5;
  border-radius: 6px 0 0 6px;
  height: calc(100vh - 128px - 16px * 2) !important;
  min-height: 500px;
  width: 72px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.menu-item {
  text-align: center;
  margin-top: 16px;
  padding: 8px 0;
  :global(.arco-icon) {
    font-size: 24px;
  }
  .menu-text {
    font-size: 12px;
    line-height: 20px;
  }
}

.bottom-menu-container {
  margin-bottom: 8px;
  .menu-item {
    margin-top: 0;
  }
}